<ons-page modifier="full_bg">
        <ons-toolbar fixed-style>
          <div class="center">
            <img  style="width:30px; height:30px; padding-top:10px;" src="img/launch5/YagoLogo.png" />
            <label class="tab-title">Yago</label>
          </div>
          <div class="right">
            <img style="padding-right:5%;"  class="bar-logo" src="img/launch5/Camera.png" /> 
          </div>
        </ons-toolbar>
        <p style="padding-top: 100px; color: #999; text-align: center">
          <ons-button modifier="large" onClick="myNavigator.pushPage('templates/club-navigator.html')" class="login-button"><i></i>Clubs In Buckhead</ons-button>
        </p>
</ons-page>  