<ons-page modifier="full_bg">
    <ons-toolbar>
      <div class="center">
          <ons-toolbar-button>
            <ons-icon style="font-size:30px;" icon="ion-social-hackernews">
          </ons-toolbar-button>
          Promotions
      </div>
      <div class="right">
        <ons-toolbar-button>
          <ons-icon style="font-size:30px;" icon="ion-android-camera">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <p style="padding-top: 100px; color: #999; text-align: center">List of Promotions</p>
    <ons-button modifier="large" onClick="myNavigator.pushPage('templates/promotions-navigator.html')" class="login-button"><i></i>Tap to Redeem Promotion</ons-button>
</ons-page>    
