<ons-page>
    <ons-toolbar>
      <div class="center">
          <ons-toolbar-button>
            <ons-icon style="font-size:30px;" icon="ion-social-hackernews">
          </ons-toolbar-button>
          Promotions
      </div>
      <div class="right">
        <ons-toolbar-button>
          <ons-icon style="font-size:30px;" icon="ion-android-camera">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <p style="padding-top: 100px; color: #999; text-align: center">Selected Promotion</p>
    <ons-button modifier="large" onClick="myNavigator.pushPage('templates/promotion-venue-navigator.html')" class="login-button"><i></i> Redeem To Staff</ons-button>
     <ons-button modifier="large" onClick="myNavigator.popPage()" class="login-button"><i></i> Back To Promotions</ons-button>
</ons-page>   