<ons-page modifier="full_bg">
    <ons-toolbar fixed-style>
          <div class="center">
            <img  style="width:30px; height:30px; padding-top:10px;" src="img/launch5/YagoLogo.png" />
             <label class="tab-title">Alex</label>
            </div>
          <div class="right">
            <img style="padding-right:5%;"  class="bar-logo" src="img/launch5/Camera.png" /> 
          </div>
    </ons-toolbar>
    <div class="score-container">
      <img  class="score" src="img/launch7/36.png" /> 
      <img  class="score" src="img/launch7/lifetimescore.png" /> 
    </div>
    <div class="social-media-icons">
      <div class="icon-container">
      <img  class="social-icon" src="img/launch7/facebookicon.png" />
      <label class="social-label">Facebook</label>
      </div>
    
      <div class="icon-container"> 
      <img  class="social-icon" src="img/launch7/instagramicon.png" />
      <label class="social-label">Instagram</label>
      </div>
      <div class="icon-container">
      <img  class="social-icon" src="img/launch7/twittericon.png" />
      <label class="social-label">Twitter</label>
      </div>
    </div>
    <div class="invite-button">
      <img  class="invite-friends-button" src="img/launch7/invitefriends.png" /> 
    </div>
</ons-page>        