.left {
	text-align: left;
}
/* Age verification and Authentication styling */
.yago-logo
{
	text-align: center;
	width: 80%;
	margin:60px auto 0;
}
.center
{
	text-align: center;
}
.age-verify {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}
.facebook-login
{
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}
.allowed-age,.disallowed-age,.login-button {
  width: 100%;
  margin: 20px 0 auto;
}
