<ons-page>
    <ons-toolbar fixed-style>
          <div class="left">
             <img onClick="myNavigator.popPage()" style="width:15px; height:15px; padding-top:15px;padding-left:5%;" src="img/launch5/_.png" />
          </div>
          <div class="center">
            <img  style="width:30px; height:30px; padding-top:10px;" src="img/launch5/YagoLogo.png" />
            <label class="tab-title">Promotions</label>
          </div>
          <div class="right">
            <img  style="padding-right:5%;"  class="bar-logo" src="img/launch5/Camera.png" /> 
          </div>
    </ons-toolbar>
    <div class="check-out-promotion">
       <img  style="margin: 30px auto 0;width:50%;" src="img/launch6/venue_staff.png" />
    </div>
</ons-page>