<ons-page modifier="full_bg">
        <ons-toolbar fixed-style>
          <div class="left">
             <img onClick="myNavigator.popPage()" style="width:15px; height:15px; padding-top:15px;padding-left:5%;" src="img/launch5/_.png" />
          </div>
          <div class="center">
            <img  style="width:30px; height:30px; padding-top:10px;" src="img/launch5/YagoLogo.png" />
            <label class="tab-title">Buckhead</label>
          </div>
          <div class="right">
            <img onClick="myNavigator.pushPage('templates/navigations/club-photos-navigator.html')" style="padding-right:5%;"  class="bar-logo" src="img/launch5/Camera.png" /> 
          </div>
        </ons-toolbar> 
        <div class="card clubs-container">
          <div class="club-image-container">
            <img onClick="myNavigator.pushPage('templates/navigations/club-photos-navigator.html')" style="width:100%;" src="img/launch3/havana-club.jpg" />
            <div class="club-label">HAVANA CLUB</div> 
          </div>    
          <div class="club-image-container">
            <img style="width:100%;" src="img/launch3/gold-room-atlanta.jpg" />
            <div class="club-label">GOLD ROOM</div>
          </div>
          <div class="club-image-container">
            <img style="width:100%;" src="img/launch3/park-bench.jpg" />
            <div class="club-label">PARK BENCH</div>
          </div>
          <div class="club-image-container">
            <img style="width:100%;" src="img/launch3/the-ivy.png" />
            <div class="club-label">THE IVY BUCKHEAD</div>
          </div>  
        </div>
</ons-page>  