<ons-page modifier="full_bg">
        <ons-toolbar fixed-style>
          <div class="center">
            <img  style="width:30px; height:30px; padding-top:10px;" src="img/launch5/YagoLogo.png" />
            <label class="tab-title">Yago</label>
          </div>
          <div class="right">
            <img onClick="myNavigator.pushPage('templates/navigations/club-navigator.html')" style="padding-right:5%;"  class="bar-logo" src="img/launch5/Camera.png" /> 
          </div>
        </ons-toolbar>
        <div class="card map">
          map here
        </div>
</ons-page>  